{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {{ if site.data.settings.hero.hero__title }}
            <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          {{ end }}
          {{ if site.data.settings.hero.hero__description }}
            <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}